name: Generate Charts

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install node-fetch@2

      - name: Run chart generator
        run: node generate-charts.js

      - name: Commit and push chart
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add languages-chart.svg
          git commit -m "Updated languages chart" || echo "No changes"
          git push
