name: Generate Charts

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Run chart generator
        run: |
          node scripts/generate-charts.js

      - name: Commit and push chart
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add languages-chart.svg
          git commit -m "Update languages chart" || echo "No changes"
          git push
