name: Generate Charts

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build-charts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get install -y nodejs npm
          npm install -g gh

      - name: Authenticate GitHub CLI
        run: gh auth login --with-token <<< "${{ secrets.METRICS_TOKEN }}"

      - name: Generate charts
        run: node .github/scripts/generate-charts.js

      - name: Commit charts
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add languages-chart.svg
          git commit -m "Update languages chart" || echo "No changes"
          git push
