name: Charts

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build-charts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm init -y
          npm install @octokit/rest chartjs-node-canvas

      - name: Generate charts
        run: node generate-charts.js

      - name: Commit generated charts
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add languages-chart.svg
          git commit -m "Update charts" || echo "No changes"
          git push
