name: Update GitHub Stats

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install axios

      - name: Generate Stats
        run: node generate-stats.js
        env:
          GH_TOKEN: ${{ secrets.METRICS_TOKEN }}

      - name: Commit changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "actions@github.com"
          git add README_STATS.md
          git commit -m "Update stats" || echo "No changes to commit"
          git push
