name: GitHub Stats

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Generate Stats
        run: |
          curl "https://github-readme-stats.vercel.app/api/top-langs/?username=felipealfonsog&layout=compact&theme=dark&hide_border=true&count_private=true" -o top-langs.svg
          curl "https://github-readme-stats.vercel.app/api/?username=felipealfonsog&show_icons=true&theme=dark&hide_border=true&count_private=true" -o stats.svg

      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add top-langs.svg stats.svg
          git commit -m "Update stats" || echo "No changes"
          git push
