name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"   # 1 vez al día = estable

concurrency:
  group: waka-readme
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  waka_blocks:
    name: Waka Blocks (athul -> waka.md)
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          SECTION_NAME: waka
          BLOCKS: "○●◔◕◐◕◔◐●◔◐◕"
          TIME_RANGE: all_time
          LANG_COUNT: 20
          SHOW_TITLE: true
          SHOW_TIME: true
          SHOW_TOTAL: true
          STOP_AT_OTHER: true

          COMMIT_MESSAGE: "Updated WakaTime blocks"
          TARGET_PATH: waka.md

  devmetrics:
    name: DevMetrics (OS / Editors / LOC -> README.md)
    runs-on: ubuntu-latest
    needs: waka_blocks
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          SECTION_NAME: devmetrics
          TIME_RANGE: all_time
          LANG_COUNT: 20

          SHOW_OS: "True"
          SHOW_EDITORS: "True"
          SHOW_LINES_OF_CODE: "True"
          SHOW_TOTAL_CODE_TIME: "True"

          COMMIT_MESSAGE: "Updated DevMetrics"
