name: Waka Readme
# https://github.com/marketplace/actions/waka-readme

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0-4,10-15,17-22 * * *'

jobs:
  waka_blocks:
    name: WakaReadme Blocks
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          API_BASE_URL: https://wakatime.com/api
          REPOSITORY: felipealfonsog/felipealfonsog

          SHOW_TITLE: true
          SECTION_NAME: waka
          BLOCKS: "○●◔◕◐◕◔◐●◔◐◕"
          CODE_LANG: rust
          TIME_RANGE: all_time
          LANG_COUNT: 20
          SHOW_TIME: true
          SHOW_TOTAL: true
          SHOW_MASKED_TIME: false
          STOP_AT_OTHER: true

          COMMIT_MESSAGE: Updated waka-readme graph with new metrics
          TARGET_BRANCH: main
          TARGET_PATH: README.md
          AUTHOR_NAME: Felipe
          AUTHOR_EMAIL: f.alfonso@res-ear.ch
