name: Waka Stats (OS / Editors / LOC)

on:
  workflow_dispatch:
  schedule:
    - cron: '1 0-4,10-15,17-22 * * *'

concurrency:
  group: waka-stats
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  update-wakastats:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}

          SECTION_NAME: wakastats

          SHOW_OS: "True"
          SHOW_EDITORS: "True"
          SHOW_LINES_OF_CODE: "True"
          SHOW_TOTAL_CODE_TIME: "True"

          # opcional, pero útil para ver que corrió
          SHOW_UPDATED_DATE: "True"
          COMMIT_MESSAGE: "Updated Waka stats (OS/Editors/LOC)"
          DEBUG_LOGGING: "True"
